<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="path" value="Files"/>
	</appSettings>
	<system.serviceModel>
		<services>
			<service name="Service.FileHandlingService">
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:4000"
/>
					</baseAddresses>
				</host>
				<!-- Service Endpoints -->
				<endpoint
				address="Service"
				binding="netTcpBinding"
				contract="Common.IFileHandler" />
			</service>
		</services>
	</system.serviceModel>
</configuration>